<%
var data  = pageData;
%>

<!DOCTYPE html>
<html lang="ja">
<head>
<% include assets/ejs/_head %>
	<title><%= data.index.title %></title>
	<link rel="stylesheet" media="all" href="/assets/css/base.css" />
</head>
<body>
	<p>test</p>
	<p><a href="#">to top</a></p>

	<script src="/assets/js/app.js"></script>
</body>
</html>